body               {
                   }

.navhomehead       { padding-top: 0; 
                     margin-bottom: 0;
                     padding-bottom: 0;
                     font-size: 80%
                   }

.navhomehead           { color: black; }
.navhomehead a:link    { color: black; }
.navhomehead a:visited { color: black; }

.navhead           { padding-top: 0; 
                     margin-bottom: 0;
                     padding-bottom: 0;
                     font-size: 80%
                   }

.navhead           { color: black; }
.navhead a:link    { color: black; }
.navhead a:visited { color: black; }

.navfoot           { color: black;
                     font-size: 70%;
                   }

.navfoot a:link    { color: black; }
.navfoot a:visited { color: black; }

pre.programlisting { font-size: 80%;
                   }

span.footdate      { color: black;
                     font-size: 70%;
                     font-family: Arial, sans-serif;
                   }

span.foothome      { color: black;
                     font-size: 70%;
                     font-family: Arial, sans-serif;
                   }

span.footfeed      { color: black;
                     font-size: 70%;
                     font-family: Arial, sans-serif;
                   }

span.footcopy      { color: black;
                     font-size: 70%;
                     font-family: Arial, sans-serif;
                   }

SPAN.curpage           { color: yellow;
                         font-style: italic; }
SPAN.curpage A         { color: white; }
SPAN.curpage A:link    { color: white; }
SPAN.curpage A:visited { color: white; }

SPAN.toplevel A          { color: white; }
SPAN.toplevel A:link     { color: white; }
SPAN.toplevel A:visited  { color: white; }

SPAN.otherpage           { color: white; }
SPAN.otherpage A         { color: white; }
SPAN.otherpage A:link    { color: white; }
SPAN.otherpage A:visited { color: white; }

SPAN.descendant A         { color: white; }
SPAN.descendant A:link    { color: white; }
SPAN.descendant A:visited { color: white; }

SPAN.ancestor A         { color: white; }
SPAN.ancestor A:link    { color: white; }
SPAN.ancestor A:visited { color: white; }

SPAN.shrink1           { font-size: 80%; }
SPAN.shrink2           { font-size: 70%; }
SPAN.shrink3           { font-size: 70%; }

